<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a routerLink="/home" style="margin-right: 50px;">Home</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>

        <a routerLink="/owner/owners" style="margin-right: 30px;">Owner Actions</a>
        <a *ngIf="isUserAuthenticated()" routerLink="/account/accounts" style="margin-right: 30px;">Account Actions</a>

  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <a *ngIf="!isUserAuthenticated()" routerLink="/login" style="text-align: right;">Login</a>
    <a *ngIf="isUserAuthenticated()" class="logout" (click)="logOut()">Log out</a>
  </div>
</mat-toolbar>
