<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to the Material Angular OwnerAccount Application</p>
  </div>

  <p>In this application we are going to work with:</p>

  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Account's Owners">
      <app-owner-list></app-owner-list>
    </mat-tab>
    <mat-tab label="Accounts">
      <div *ngIf="!isUserAuthenticated()">
        <p>The account table requiers <a routerLink="/login">Login</a></p>
      </div>
      <div *ngIf="isUserAuthenticated()">
        <app-account-list ></app-account-list>
      </div>
    </mat-tab>
    <mat-tab label="Transactions">
       <p>By using material components, we are going to create fully responsive Banking Transactions</p>
      </mat-tab>
  </mat-tab-group>
</section>
